.UpdateDetails{
    display: flex;
    width: 100%;
}


.UpdateDetailsHero{
    width: 100%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
