.Help{
    display: flex;
    height: 100vh;
}


.HelpHero{
    width: 80%;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}


.questions {
    width: 60%;
margin-top: 5rem;
display: flex;
flex-direction: column;
gap: .3rem;

}

.questions p {
    padding-bottom: 1rem;
}
