.history {
  display: flex;
  height: 100vh;
 
}

.historyHero {
  width: 70%;
  border: 1px solid;
  display: flex;
  height: 100vh;
  flex-direction: column;

  padding:0.5rem;
  /*   justify-content: space-around; */
  position: relative;
}

.historyTop {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
  align-items: center;
  gap: 1rem;
  border: 1px solid;
}

.historyTop-options {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: space-around;
}

.historyTop-options li button {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: greenyellow;
  border: none;
  border-radius: 1rem;
}

.historyTop-options li button:hover {
  background-color: rgb(113, 193, 242);
  color: white;
}

.historyBottom {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  height: 100vh;
}
.history-bottom-top {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 0.2rem; 
}

.history-bottom-left {
  width: 70%;
  border: 1px solid;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 50%;
 
}

.history-bottom-right{
  width: 20%;
}

.history-bottom-expenses-graphs,
.history-bottom-incomes-graphs {
  display: flex;
  border: 1px solid;
  flex-direction: column;
  width: 40%;
}
.history-graph-title{
  text-align: center;
}

.select-data-button {
  display: flex;
}

.data-container {
  display: flex;
  width: 100%;
  padding: 1rem;
  gap: 0.5rem;
  height: 90%;
  /* justify-content: center;
  align-items: center; */
}

.expData-container {
  height: 90%;
  width: 80%;
  overflow-y: auto;
 
  border: 1px solid;
  position: relative;
}

.expData-container table thead {
  position: sticky;
  top: 0;
}



/* .exp-table {
  width: 100%;
} */

/* .expData{


    display: flex; 
    height: 30%; 
    justify-content: space-around;

} */

.history-timeTravel {
  display: flex;
  padding: 1rem;
  width: 40%;
  margin: 0 auto;
  justify-content: space-between;
}
/* .total {
  position: absolute;
  bottom: 0;
  bottom: 2rem;
  display: flex;
  width: 30%;
  justify-content: space-around;
} */

.incData-container {
  height: 60%;
  width: 50%; 
  overflow-y: auto;
  border: 1px solid;
}

/* .incData {
  display: flex;
  height: 30%;
  justify-content: space-around;
} */

/* .total {
  position: absolute;
  bottom: 0;
  bottom: 2rem;
  display: flex;
  width: 30%;
  justify-content: space-around;
} */

.reciept-container {
  position: absolute;
  height: 70%;
  z-index: 3;
  left: 5rem;
  width: 80%;
  border: 2px solid;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.closeImage {
  font-size: 3rem;
  width: 10%;
  margin-left: auto;
}

.selectReciept {
  width: 80%;
  height: 80%;
  position: absolute;
  border: 2px solid;
}

.reciept-details {
  display: flex;
  justify-content: space-around;
}

.expensesTotal,
.incomesTotal,
.displayReport {
  padding: 3rem;
  border: 1px solid;
}

.history-bottom-data .calendar {
  /*   width: 70%; */
/*  width: 50%; */

  padding: 0;
  margin-left: 0;
}
