.landingNav {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 5px 50px;
  background-color: var(--accent-100);
}

.landingNavBar{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landingNavList {
  display: flex;
  list-style: none;
  width: 80%;
  justify-content: space-between;
}

.landingNavBar a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-100);
  transition: color 0.3s ease;
}
.landingNavBar a:hover {
  color: aqua;
}

.landingNavBar a:first-child:hover {
  border-bottom: none;
}

.logo-NavBar {
  width: 100px;
  height: auto;
  padding: 10px;
}

.anchorLogo {
  width: 100px;
}

/*-- Mobile --*/

@media screen and (max-width: 768px) {
  .landingNav {
    padding: 5px 10px;
  }

  .landingNavBar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .landingNavBar a {
    font-size: 1.2rem;
  }

  .landingNavBar ul {
    justify-content: space-around;
  }

  .landingNavList {
    width: 80%;
  }

}
