.landingNavBar {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 50px;
  background-color: var(--accent-100);  
 
}

.landingNavList {
  display: flex;
  list-style: none;
  width: 60%;
  justify-content: space-between;
}

.landingNavBar a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-100);
  transition: color 0.3s ease;
}
.landingNavBar a:hover {
  color:aqua;
}

.landingNavBar a:first-child:hover {
  border-bottom: none;
}

.logo-NavBar {
  max-width: 100%; 
  height: auto;
 padding: 10px;
}

.anchorLogo{
  width: 100px;
}



/* Mobile  */

@media screen and (max-width: 768px) {

  .landingNavBar{
    padding: 5px 10px;
  }

  .landingNavList {
    width: 80%;
  }

}