.Settings {
  display: flex;
  height: 100vh;
}

.SettingHero {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 5rem;
}

.SettingHero h1 {
  text-align: center;
}

.mainSettings .settings-spacebtwn{
  display: flex;
}

.mainSettings .sub-settings{
  margin: 5rem 0 0 9rem ;
}


.mainSettings {
  display: flex;
  /* justify-content: space-evenly;  */
  align-items: center;
  padding: 5rem;
  margin-left: 3rem;
  gap: 5rem;

}

.SettingHero .settings-ul{
  list-style-type: none;
}

.SettingHero .settings-btn {
  border: none;
  padding: 1rem;
  margin: 1rem;
  background-color: var(--primary-100);
  color: var(--bg-200);
  font-size: 1.2rem;
  border-radius: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.SettingHero .settings-btn:hover {
  background-color:#2A3F8F;
  color: var(--bg-200);
}

@media screen and (max-width: 700px) {
  .SettingHero {
    flex-direction: column;
    gap: 3rem;
    padding-top: 3rem;
  }

  .mainSettings {
    flex-direction: column;
    padding: 0rem;
    margin-left: 0rem;
  }

  .SettingHero button {
    padding: 0.8rem;
    margin: 0.5rem;
    font-size: 1rem;
  }

  .mainSettings .sub-settings{
    margin: 4rem 1rem;
  }
}
