.footerUL {
  list-style-type: none;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #242e30;
  padding: 5rem;
  /* height: 14rem; */
  /* border: 2px solid red; */

}

/* .imageHolder {
  max-width: 100%;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
} */

.logoFooter {
  width: 100px;
  height: 100px;
padding-top: 15%;

}

.ulLeft, .ulRight {
display: flex;
flex-direction: row;
justify-content: space-around;
width: 40%;

}

.gitHubLogo {
  width: 40px;
  height: 40px;
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width:700px) {
  .footer{
      width: 100%;
      /* border: 1px solid orange; */
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 1rem;
   
gap: 10px;
  }

 .ulRight, .ulLeft {
      flex-direction: column;
  }



}    