.footer {
  list-style-type: none;
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #242e30;
  padding: 5rem;
}

/* .imageHolder {
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
} */

.logoFooter {
  width: 100px;
  height: 100px;
}

.gitHubLogo {
  width: 40px;
  height: 40px;
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

a {
    display: flex;
    flex-direction: row;
    align-items: center;
}