.showExpenses{
    width: 100%;
} 

.showExpenses button{
    background-color: rgb(243, 118, 118);
    border: none;
    padding: 0.5rem;
    color: white;
    border-radius: 0.5rem;
}

.showExpenses table th{
    position: sticky;
    top: 0;
  
    
}