@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans&display=swap");
/* need to change the font */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

:root {
  /* colors palette dark mode */
  --primary-color: #202048;
  --secondary-color: #3f3f8d;

  --text-color: #c1c1c1;
  --background-color: #1e1e1e;

  --border-color: #292929;

  --link-color: #0066cc;
  --hover-color: #4a7bf5;

  --expenses: #c63968;
  --incomes: #03dac6;
}

.darkMode {
  background-color: var(--background-color);
  color: var(--text-color);
}

.darkMode ul li a {
  color: var(--text-color);
}

.lightMode {
  background-color: #fffbfb;
  color: #0e0e0e;
}

.lightMode ul li a {
  color: #0d0d0d;
}
