@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

.darkMode {
  background-color: #1a1a1a;
  color: #ffffff;
  }
  
  .darkMode ul li a{
    color: #ffffff;
  }
  
  .lightMode {
    background-color: #fffbfb;
    color: #0e0e0e;
    }
    
    .lightMode ul li a{
      color: #0d0d0d;
    }