.signup {
  display: flex;
}

.left {
  width: 50%;
  height: 100vh;
  background: linear-gradient(-107deg, #2195f3a7 0, #3458f75f 100%),
    url("/images/backgroundImage.jpg");
  background-size: cover;
  background-position: center;
}

.right {
  width: 50%;
  margin: 0 0 6rem 0;
  padding: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainDiv {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.signup form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.signup h1 {
  padding: 2rem;
  text-align: center;
}

.inputs {
  margin-bottom: 1.3rem;
  padding: 4px;
  width: 80%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.166);
}

.upload-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup h3 {
  margin-top: 15px;
}

.file-input-container {
  position: relative;
  display: inline-block;
}

.signup input[type="file"] {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.chooseFile-label {
  display: inline-block;
  margin: 1rem 0;
  padding: 0.5rem 2.5rem;
  background: var(--primary-100);
  color: var(--bg-200);
  cursor: pointer;
  border-radius: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* it doesn't work */
.chooseFile-label:hover {
  background-color: #00ffff;
  color: var(--text-100);
}

.profileImg-container {
  display: flex;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  justify-content: center;
  margin: 1rem;
}

.img-preview {
  width: 100%;
}

.signup-btn {
  margin: 1rem 0;
  padding: 0.5rem 2.5rem;
  background-color: var(--primary-100);
  color: var(--bg-200);
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
}

.signup .signup-btn:hover {
  background-color: #00ffff;
  color: var(--text-100);
}

/*-- mobile --*/
@media screen and (max-width: 700px) {
  .left {
    display: none;
  }

  .right {
    width: 100%;
  }
}
